body {
  width: 100vw;
  height: 100vh;


  background: linear-gradient(#808080, #9198e5);
  background-repeat: no-repeat;
  background-size: cover;

  display: flex;
  align-items: center;
  justify-content: center;

}

.calculadora {
 display: inline-block;

  margin: 0 auto;
  background-color: #1F1E1C;

  padding: 5px;
}

.header {
  display: flex;
  color: #fff;
  justify-content: space-between;
  padding: 5px 10px 12px;
}

.logo {
  display: flex;
  color: #fff;
  gap: 17px;
}

.menus {
  display: flex;
  align-items: center;
  justify-content: space-between;
  color: #fff;
}

.menu_left {
  display: flex;
  align-items: center;
  gap: 15px;
  color: #fff;
}

.resultado {
  display: flex;
  flex-direction: column;
  align-items:  end;
  justify-content:  center;
  gap: 8px;
  height: 100px;
  color: #fff;
  padding-right: 10px;
}

.nc {
  font-weight: bolder;
  font-size: 15px;
  color: #808080;
}

.nr_resultado {
  pointer-events: none;
  border: none;
  text-align: right;
  background-color: transparent;
  color: #fff;
  width: 200px;
  font-size: 30px;
  font-weight: bolder;
  border: none;
}

.options_m {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 1px;
  margin-bottom: 1px;
}

.options_m > button {
  width: 50.3px;
  height: 28px;

  background-color: transparent;
  border: none;
  border-radius: 3px;
  color: #fff;
}

.options_m > button:hover {
  background-color: #323232;
}

.numbers {
  display: grid;
  grid-template-columns: repeat(4, 78px);
  grid-template-rows: repeat(6,50px);
  gap: 2px;
}

.numbers>button:nth-child(4)::after {
  content: '\232B';
}

.numbers > button {
  color: #fff;
  background-color: #3B3B3B;
  border: none;
  border-radius: 4px;
  font-size: 15px;
  box-shadow: 0px 0px 0 #222, 0px 0px 0 #000;
}

.numbers > button:active {
  font-size: 14px;
  box-shadow:  inset -1px 1px 0 #222;
}

.numbers>button:nth-child(24) {
  color: #000;
  background-color: #76B9ED;
}

.numbers>button:nth-child(24):hover{
  background-color: #6DA9D8;
}

.numbers> button:hover {
  background-color: #323232;
}

.numbers > .sinais {
  background-color: #323232;
}

.numbers> .sinais:hover {
  background-color:  #3B3B3B;
}
